mixin item(title, dscr, date, href, src, imgNewsStyle, modifier)
  a.item(href=href)&attributes(attributes)
    .item__picture(style=imgNewsStyle)
    .item__content
      .item__content-top
        h3.item__title= title
        p.item__dscr= dscr
      .item__date= date